{% extends 'base.html.twig' %}

{% block title %}Bucket List{% endblock %}

{% block body %}
    <h1> Ajouter un wish :   </h1>

    <div class="form-group form-control">
        {{ form_start(formWish)}}
    
            <div class="col-4 mb-4">
             <p>Titre * :  {{ form_widget(formWish.title)}}</p>
             
             <p>Description :  {{ form_widget(formWish.description)}}</p>
            
            </div>
            <p> * Obligatoire </p>

            <button type="submit" class="btn btn-success">Ajouter</button>
            <a href="{{ path('home')}}" class="btn btn-outline-dark" > Retour </a>
        {{ form_end(formWish)}}
    </div>
    

{% endblock %}
