{% extends 'base.html.twig' %}

{% block title %}Bucket List{% endblock %}

{% block body %}
    <h1> Détail du wish :   </h1>

    <ul>
    {% for w in wishes %}
        <li>Id :  {{ w.id }} </li>
        <li> Titre : {{ w.title }} </li>
        <li> Description :    {{w.description}} </li>
        <li> Auteur :  {{ w.author }} </li>
        <li> Date de création : {{ w.dateCreated|date("m/d/Y H:i:s") }} </li>
        <li> Catégorie : {{ w.categ.name }} </li>
    {% endfor %}
    </ul>
    <a href="{{ path('home')}}" class="btn btn-outline-dark" > Retour </a>
    

{% endblock %}