{% extends 'base.html.twig' %}

{% block title %} Home | {{ parent() }} {% endblock %}

{% block body %}
<h1>Bucket List</h1>
    <ul>
    {% for w in wishes %}
        <li>
            {{w.id}} {{ w.title }}  {{ w.dateCreated|date("m/d/Y H:i:s") }}
            <a href="{{ path('detail',{ id:w.id }) }}"><img src="{{ asset('img/details.png') }}" alt="Détail" width="20"></a>
            <a href="{{ path('wish_modifier',{ id:w.id }) }}"><img src="{{ asset('img/bouton-modifier.png') }}" alt="Modifier" width="20"></a>
            <a href="{{ path('wish_supprimer',{ id:w.id }) }}"><img src="{{ asset('img/supprimer.png') }}" alt="Supprimer" width="20"></a>
        </li>
    {% endfor %}
    </ul>
   <br>

    <a href="{{ path('ajouter')}}" type="button" class="btn btn-success">Ajouter un wish</a>
    <br><br>
    
    <h2> Ajout rapide d'un wish </h2>

    <form action="{{ path('wish_ajout_rapide') }}" class="form-group form-control" method="POST">
        <div class="col-4 mb-4">
            <p>Titre :  <input type="text" name="title" placeholder="un titre" required> </input> </p>
        </div>
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
    

{% endblock %}
